In [1]:

import pandas  as pandas
df = pandas.read_excel (r'C:\Users\amin\Downloads\Assure_sin.xlsx')
a=df
a=a.drop(columns=['AssureId', 'CodePostal', 'gouvernorat','tauxdesinstralite'])

In [2]:
df=df.replace('Non',0)
df=df.replace('oui',1)

In [3]:
df=df.drop(columns=['AssureId', 'CodePostal', 'gouvernorat','Sinistrer'])

In [4]:
df.columns

Index(['Age', 'ClasseBonnusMalus', 'nb sinistre', 'sexe', 'tauxdesinstralite'], dtype='object')

In [5]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

In [6]:
clf = IsolationForest(random_state=1,contamination=0.008)

In [7]:
clf.fit(df)

IsolationForest(contamination=0.008, random_state=1)

In [8]:
o=clf.predict(df)==-1

In [9]:
o

array([False, False, False, ..., False, False, False])

In [10]:
df[o]

        Age  ClasseBonnusMalus  nb sinistre  sexe  tauxdesinstralite
87       47                 10            6     1                  2
88       19                  6           12     1                  2
97       54                  4           11     0                  2
278      72                  1            5     0                  2
333      18                  7            5     0                  2
...     ...                ...          ...   ...                ...
135681   34                  9            7     1                  2
135959   21                  7            7     1                  2
136049   69                  9           11     1                  2
136091   54                 11           13     0                  2
136293   24                  7            6     0                  2

[1093 rows x 5 columns]

In [11]:
from sklearn.neighbors import LocalOutlierFactor
m = LocalOutlierFactor(n_neighbors=20, contamination=0.0009)

In [12]:
m.fit(df)

LocalOutlierFactor(contamination=0.0009)

In [13]:
p=m.fit_predict(df)==-1

In [14]:
new_df=df.assign(Profit=clf.predict(df))

In [19]:
df[p]

        Age  ClasseBonnusMalus  nb sinistre  sexe  tauxdesinstralite
391      45                  4            3     1                  1
877      60                  5            3     0                  1
8232     54                  5            3     1                  1
11738    72                  7            2     0                  1
11745    49                  9            2     0                  1
...     ...                ...          ...   ...                ...
124370   54                  5            3     1                  1
128761   66                  5            3     0                  1
134226   45                  4            3     1                  1
135229   32                  9            2     1                  1
135490   32                  9            2     1                  1

[65 rows x 5 columns]

In [17]:
new_df.to_excel("output.xlsx")